@font-face {
  font-family: UKaiCN;
  src: url("/fonts/UKaiCN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HanWangYanKai;
  src: url("/fonts/HanWangYanKai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
